<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="net.xc.mapper.OperateEventMapper">
    <select id="listOperateEvent" resultType="OperateEvent">
        SELECT `message`,`is`,`value`,`type`
         FROM `operate_event`
    </select>
</mapper>